%p#notice= notice
%h1
  Наши контакты

%p 
  По всем интересующим Вас вопросам звоните по тел.: 
  %br
    %b
      098-510-60-24
%p
  Найти нас можно по адресу:
  %br 
    %b
      ул. Южная 9/3

= "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.879730326776!2d35.049388499999985!3d48.4588371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2d9358f9045%3A0x657f8730a0b37c12!2z0J_RltCy0LTQtdC90L3QsCDQstGD0LsuLCA5LCDQlNC90ZbQv9GA0L7Qv9C10YLRgNC-0LLRgdGM0LosINCU0L3RltC_0YDQvtC_0LXRgtGA0L7QstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsA!5e0!3m2!1sru!2sru!4v1416821366463\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0\"></iframe>".html_safe