%p#notice= notice

%h1{:style => "text-align: center;"}
  Добро пожаловать на сайт клуба «АриАднА»!!!
%p
  Мы искренне надеемся, что информация на данном сайте заинтересует вас, и Вы захотите посетить наши занятия, тренинги и мастер-классы.
  В клубе 
  %b
    «АриАднА» 
  каждый сможет найти для себя что-то интересное и с пользой провести время. А наши мастера, тренеры и психологи всегда рады поделиться с Вами интересной информацией.
%p
  Вы можете посетить общий курс тренингов 
  %b «Будь режиссёром своей судьбы».
  Данная программа поможет Вам найти ответы на давно волнующие Вас вопросы:
%p
  %ul
    %li
      мироустройство!!! Законы судьбы;
    %li
      как влияют отношения между родителями на дальнейшую судьбу ребенка;
    %li
      почему многие пары не могут зачать ребенка;
    %li
      что такое причинно-следственные связи;
    %li
      как создать и сохранить гармоничные отношения с противоположным полом;
    %li
      правильная постановка и достижение цели;
    %li
      причина неуверенности в себе, и почему вы не можете реализоваться в жизни;
    %li
      как грамотно распоряжаться деньгами, во всех сферах жизни;
    %li
      и т.д.
%p
  В клубе Вы можете посетить различные мастер - классы по 
  %b рукоделию. 
  Научиться делать своими руками прекрасные сувениры и подарки для любимых, родных, друзей и т.д.
%p
  Также у нас можно посетить различные тренинги по:
  %br - сексологии;
  %br - риторике;
  %br -  научиться работать со своим биополем;
  %br - овладеть мастерством перевоплощения в домашних условиях
  %br - и многое другое
%p
  А так же вы имеете возможность оспользоваться услугам 
  %b массажистов.

%p
  В клубе 
  %b «АриАднА» 
  регулярно проходят занятия по йоге!