/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */


 body {
  background: url("/images/send.jpg") repeat scroll left top;
  margin: 0px;
 }

 a{
  text-decoration:none;
 }
div{
  text-indent: 15px
}
.mar_20 {
  margin-left: 20px;
  margin-right: 20px;
}

.left_stepup{
padding-left: 5%;
}

.right_stepup{
margin-right: 5%;
}

#header {
  height: 250px;
  background-image: url("/images/head_line.jpg");
  background-position: 0 0;
//  background-repeat: repeat-x;
  background-size: auto 250px ;
  height: 250px;
 // position:absolute;
}

.logo {
  height: 100%;
  width: 15%;
  float: right;
  margin-right: 90px;
}
.logo img{
  height:250px;
  }

.logo_text {
 float: left;
 color: #242527;
//font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 45px;
font-weight: normal;
left: 5px;
position: relative;
top: 55px;
width: 70%;
line-height: 0.5;
text-indent: 1.0em;
font-family: "Lucida Console", Monaco, monospace;
}

.logo_text font.small {
font-size: 0.75em;
}

#topmenu {
  height: 35px;
  margin-bottom: 10px;
//  margin-top: 10px;
  vertical-align: middle;
  background-color: #8d7365;
  padding-top: 5px;
}

#topmenu ul {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -20px;
  padding-left: 0;
}
#topmenu  ul li{
  display: inline;
  width: auto;
}

#topmenu  ul li a{
   color: white;
    font-family: "Lucida Console"; //Verdana,Arial,Helvetica,sans-serif;
    font-size: 19px;
    font-weight: normal;
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
}

#content {
float: left;
width: 65%;
//border: red solid 1px;
margin-right: 15px;
margin-bottom: 40px;
}

table.list td {
  text-align: center;
}

#stand{
float: right;
width: 20%;
height: 200px;
//border: green solid 1px;
}

.header_one {
//  border: orange solid 1px;
  margin-bottom: 10px;
  padding: 0 auto;

}

.header_one h3 {
  
}

.header_two {
//  border: green solid 1px;

}

// buttons
/**
 * Shadow
 */
a.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%; }
    
a.button:active::before { padding: 1px 0 0; }

a.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 25px 25px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }
    
a.button:hover {
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }
    
a.button:active {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}


/**
 * Dark Grey
 */
a.button.dark_grey {
    background: #d1d1d1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d1d1d1), to(#afafaf));
    background: -moz-linear-gradient(#d1d1d1, #afafaf);
    background: linear-gradient(#d1d1d1, #afafaf);
    border: solid 1px #b4b4b4;
    border-bottom: solid 3px #878787;
    box-shadow: inset 0 0 0 1px #e3e3e3;
    color: #555;
    text-shadow: 0 1px 0 #d6d6d6; }
    
a.button.dark_grey:hover {
    background: #b7b7b7;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b7b7b7), to(#c2c2c2));
    background: -moz-linear-gradient(#b7b7b7, #c2c2c2);
    background: linear-gradient(#b7b7b7, #c2c2c2);
    border: solid 1px #a2a2a2;
    border-bottom: solid 3px #878787;
    box-shadow: inset 0 0 0 1px #d4d4d4; }
    
a.button.dark_grey:active {
    background: #afafaf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#afafaf), to(#a9a9a9));
    background: -moz-linear-gradient(#afafaf, #a9a9a9);
    background: linear-gradient(#afafaf, #a9a9a9);
    border: solid 1px #757575;
    box-shadow: inset 0 10px 15px 0 #9a9a9a; }

/**
 * Designmoo - Special Edition
 */
a.button.dsgnmoo {
    background: #f97779;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f97779), to(#ce2424));
    background: -moz-linear-gradient(#f97779, #ce2424);
    background: linear-gradient(#f97779, #ce2424);
    border: solid 1px #be2424;
    border-bottom: solid 3px #bd2524;
    box-shadow: inset 0 0 0 1px #e67e7b;
    color: #fff;
    text-shadow: 0 1px 0 #bd2524; }
    
a.button.dsgnmoo:hover {
    background: #ce2424;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ce2424), to(#f97779));
    background: -moz-linear-gradient(#ce2424, #f97779);
    background: linear-gradient(#ce2424, #f97779);
    border: solid 1px #be2424;
    border-bottom: solid 3px #bd2524;
    box-shadow: inset 0 0 0 1px #e67e7b; }
    
a.button.dsgnmoo:active {
    background: #ce2424;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ce2424), to(#f97779));
    background: -moz-linear-gradient(#ce2424, #f97779);
    background: linear-gradient(#ce2424, #f97779);
    border: solid 1px #be2424;
    box-shadow: inset 0 10px 15px 0 #bd2524; }
    
//buttons

//stand
#stand .event{
  width: 200px;
}
#stand .event .event_img{
  width: 190px;
  height:190px;
  line-height: 190px;
//  float:left;
//  border: #E2A76F solid 2px;
  text-align: center;
  margin-top:20px;
}
#stand .event .event_img a img{
    max-width: 100%;
    max-height: 100%;
    height:auto;
    vertical-align: middle;
//  border: #E2A76F solid 3px;
}
