/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background: url("/images/send.jpg") repeat scroll left top;
 }
.left_stepup{
padding-left: 5%;
}

.right_stepup{
margin-right: 5%;
}

#header {
  height: 250px;
  background: url(/images/head_line.png) repeat-x; // #cbc6a6;
  //border: blue solid 1px;
}

.logo {
  height: 100%;
  width: 200px;
  float: left;
}
.logo img{
  height:250px;
  }

.logo_text {
 float: right;
 color: #242527;
font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 25px;
font-weight: normal;
left: 5px;
position: relative;
top: 55px;
width: 70%;
line-height: 1.5;
text-indent: 1.5em;
}
#topmenu {
  height: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  vertical-align: middle;
  background-color: #C2B280;
  padding-top: 5px;
}

#topmenu ul {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -20px;
  padding-left: 0;
}
#topmenu  ul li{
  display: inline;
  width: auto;
}

#topmenu  ul li a{
   color: #0C090A;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
}

#content {
float: left;
width: auto;
//border: red solid 1px;
margin-right: 15px;
}

table td {
  text-align: center;
}

#stand{
float: right;
width: 324px;
height: 200px;
//border: green solid 1px;
}

.header_one {
//  border: orange solid 1px;
  margin-bottom: 10px;
  padding: 0 auto;

}

.header_one h3 {
  
}

.header_two {
//  border: green solid 1px;

}