// Place all the styles related to the Masters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.masters{
  
}
.master{
  margin-top: 20px;
  height:200px;
}


.masters .buttons{
  float:left;
}
.master_block{
  float:left;
}

.master_img{
  float:left;
  height:200px;
}

.master_img a img{
  width:auto;
  height: 200px;
}

.master_fio{
  float:left;
}

.master_info{
  float:left;
  clear:left;
}
