// Place all the styles related to the Masters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.masters{
  
}
.master{
  margin-top: 20px;
  height:200px;
  width:100%;
}


.masters .buttons{
  float:left;
}
.master_block{
  float:left;
}

.master_img{
  float:left;
  height:200px;
  width:200px;
  text-align: center;
  vertical-align: center;
}

.master_img a img{
  width: 150px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.master_fio{
  float:left;
}

.master_info{
  float:left;
  clear:left;
}
